body{
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    margin:auto;
}
table{
    border-left: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    background-color: rgb(40, 40, 40);
    text-align: left;
    width: 90%;
    margin:auto;
    border-collapse: collapse;
}
th{
    width: 100px;
    height: 30px;
    background-color: blue;
    border-top: 5px solid rgb(20, 20, 20);
    border-bottom: 5px solid rgb(20, 20, 20);
    padding: 15px;
}
td{
    width: 100px;
    height: 30px;
    border-top: 5px solid rgb(20, 20, 20);
    border-bottom: 5px solid rgb(20, 20, 20);
    padding: 15px;
}

/*
tr th{
    height: 30px;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    border-radius: 10;
    border-collapse: collapse;
}
tr td{
    height: 30px;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    border-radius: 10;
    border-collapse: collapse;
}*/
