header{
    color: rgb(0, 0, 0);
    margin:auto;
    font-family: Tw Cen MT;
}
body{
    color: rgb(0, 0, 0);
    margin:auto;
    font-family: Tw Cen MT;
    background: rgb(255, 255, 255);
    
}

/*---------TABLA-------------*/
table{
    text-align: left;
    width: 95%;
    margin:auto;
    border-collapse: collapse;
    background: whitesmoke;
}
th{
    width: 100px;
    height: 30px;
    padding: 15px;
    font-family: Tw Cen MT;
    
    background: rgb(238, 238, 238);

}
td{
    font-family: Tw Cen MT;
    width: 100px;
    height: 30px;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255);
    padding: 15px;
}
#selectores{
    width: 1%;
}
#chstatus{
    width: 5%;
}

/*---------------OTROS-----------------*/

h1{
    margin:auto;
    float:left;
    padding: 10px;
}
h2{
    margin:auto;
    float:center;
    margin-top: 1%;
}
#botoncrea{
    background: linear-gradient(to right, rgb(0, 183, 255), rgb(60, 252, 60));
    color:rgb(255, 255, 255);
    border-radius: 5% 5% 5% 5%;
    font-family: Tw Cen MT;
    font-size: 70%;
    padding: 15px;
    height: 80%;
    width: 10%;
}
header{
    width: 90%;
    text-align: center;
    margin:auto;
}